<% content_for(:title, "New Account") %>

<div class="container wrapper">
  <div class="pull-right">
    <%= link_to ' Cancel', users_path, class: "btn btn-primary btn-sm fa fa-ban" %>
   </div> <!-- pull-right -->

  <h1>Create a New User Account</h1>

  <%= render "form" %>
  
</div> <!-- container wrapper -->
