<% if @reaction.publish_status == "Unpublished" %>
  <p><strong>Status:</strong> <span class="unpublished-warning">Unpublished</span> </p>
<% else %>
  <p><strong>Status:</strong> Published</p>
<% end %>