<div class="wrapper container">
   
  <% content_for(:title, "Editing #{@reaction.name}") %>

  <div class="pull-right">
    <%= link_to ' Cancel', reactions_path, class: "btn btn-primary btn-sm fa fa-ban" %>
  </div> <!-- pull-right -->

  <h1>Editing <%= @reaction.name %></h1>

  <%= render 'form' %>

</div> <!-- wrapper container -->

