<% content_for(:title, "Create a New Reaction") %>

<div class="container wrapper">
  
  <h1>New Reaction</h1>

  <%= render 'form' %>

  <%= link_to 'Back', reactions_path %>

</div> <!-- container wrapper -->
