<% content_for(:title, "About") %>

<%= render "layouts/github_ribbon" %>

<div class="container">
    <div class="row">
      <div class="content about-content">
        <h1>About</h1>
        <p>ReactBetter was created to help people to build stronger emotional muscles through practicing a better reaction to difficult situations. The more we practice turning setbacks into opportunities, the more resiliant we become overall. </p>
        <h2>Recommended Reading</h2>
        <p class="recommended-reading"><%= link_to "Emotional First Aid", "https://www.goodreads.com/book/show/16158512-emotional-first-aid", target: "_blank" %> by Guy Winch<br>
        <%= link_to "Break Through Difficult Emotions", "https://www.goodreads.com/book/show/1043540.Break_Through_Difficult_Emotions", target: "_blank" %> by Shinzen Young</p>
      </div><!-- content -->
      <div class="connect">
          <%= image_tag 'head.png' %>
          I made this! Connect with me: <a href="https://www.facebook.com/anne.richardson" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> 
          
          <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a> 

          <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github fa-2x"></i></a>

          <a href="http://stackoverflow.com/cv/anne" target="_blank"><i class="fa fa-stack-overflow fa-2x"></i></a>
        </div> <!-- closes connect-->
    </div><!-- /.row -->


</div><!-- /.container -->