<% content_for(:title, "About") %>

<div class="container">
    <div class="row">
      <div class="content">
        <h1>About</h1>
        <p>ReactBetter was created to help people to build stronger emotional muscles through practicing a better reaction to difficult situations. The more we practice turning setbacks into opportunities, the more resiliant we become overall. </p>
      </div><!-- content -->
    </div><!-- /.row -->
</div><!-- /.container -->