<h1>React Better!</h1>
<p>Did life just hand you a big old pile of lemons?</p>
<p>You don't have to feel crappy about it. By reacting better, you can turn those lemons into some sweet sweet lemonade!</p>
<p><%= link_to "React Better", pages_react_path %></p>
