<%= render "layouts/github_ribbon" %>
  
<div class="container">
    <div class="row">
      <div class="content">
        <h1>Did life just hand you a big old pile of lemons?</h1>
        <p>You don't have to feel crappy about it. By teaching yourself to react better, you can turn those lemons into some sweet sweet lemonade!</p>
        <p><%= link_to "Generate Better Reaction", react_path, class: "btn btn-success btn-lg" %></p>
        <p><%= link_to "Random Show page", reaction_path(@randitem), class: "btn btn-success btn-lg" %></p>
      </div><!-- content -->
    </div><!-- /.row -->
    <%= render "layouts/social_icons" %>
</div><!-- /.container -->


  



  
