<% content_for(:title, @reaction.name) %>


<div class="container">
    <div class="row">
      <div class="content">
        <h2>Your Better Reaction:</h2>
        <h1 class="reaction"><%= @reaction.name %></h1>
        <p><%= @reaction.explanation %></p>
        <p><%= link_to "Give Me Another!", react_path, class: "btn btn-warning btn-lg" %></p>
      </div><!-- content -->
    </div><!-- /.row -->
</div><!-- container -->

