$yellow: #FFF500;
$yellow-rgb: rgb(255, 245, 0);
$yellow-green: #CAE500;
$yellow-green-rgba: rgba(202, 229, 0, 0.8);
$light-green: #A8BF00;
$light-green-rgb: rgb(168, 191, 0);
$green: #497F10;
$dark-green: #244017;
$background-color-rgba: rgba(246,246,246,0.8);
