@import "colors";

.github-fork-ribbon {
  background-color: #f80; 
} /* .github-fork-ribbon */


.wrapper { /* used on non Page views */
  background: rgba(246,246,246,0.8);
  border-radius: 10px;
  padding: 20px 30px;
  // box-shadow: 5px 5px 10px 0px #333;
  margin: 0 auto;
  color: black; 
} /* .wrapper */

.navbar-brand {
  margin-top: -10px;
   img {
    height: 25px;
    vertical-align: 1px; 
   } /* img */
} /* .navbar-brand */


.logo-font-one {
  font-family: 'Bad Script', cursive;
  color: $yellow; 
} /* .logo-font-one */
.logo-font-two {
  font-family: 'Bad Script', cursive;
  color: $light-green; 
} /* .logo-font-one */
  

  