@import "colors";

.github-fork-ribbon {
  background-color: #f80; 
} /* .github-fork-ribbon */


.wrapper { /* used on non Page views */
  background: $background-color-rgba;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 0 auto;
  color: black; 
} /* .wrapper */

.logo-font-one {
  font-family: 'Bad Script', cursive;
  color: $yellow; 
} /* .logo-font-one */
.logo-font-two {
  font-family: 'Bad Script', cursive;
  color: $light-green; 
} /* .logo-font-one */

ul.copyright {
  color: #979797;
  padding-top: 13px;
  list-style: none; 
} /* ul.copyright */
  

/* BOOTSTRAP STYLES */
.navbar-brand {
  margin-top: -10px;
   img {
    height: 25px;
    vertical-align: 1px; 
   } /* img */
} /* .navbar-brand */

a {
  &:hover {
     color: $light-green;
     text-decoration: none; 
   } /* &:hover */
} /* a */

/* SHAREABLE */
nav.share {
  display:inline-block;
  margin-top: 30px;
  } /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/
  








  