@import "colors";

body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}

.full {
  // background: image-url("background-906143_1920") no-repeat center center fixed; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}/* full */

.content {
  background: rgba(246,246,246,0.8);
  border-radius: 30px;
  padding: 1% 5%;
  margin: 0 auto;
  width: 66%;
  max-width: 450px;
  text-align: center;
  color: black;
  h1 h2 p {
    font-family: 'Open Sans', sans-serif;
  } /* h1 h2 p */
    
  h1 {
    font-weight: 300;
    font-size: 50px; 
    margin-bottom: 20px;
  } /* h1 */
  h2 {
    font-size: 15px;
  } /* h2 */
    
  p {
    font-size: 20px;
    margin-bottom: 30px;
  } /* p */
  .reaction {
    font-family: 'Bad Script', cursive;
    font-size: 70px; 
    margin-bottom: 20px;
  } /* .reaction */
 
} /* .content */
.about-content {
  border-radius:  30px 30px 0px 0px;
} /* .about-content */


.connect {
  font-family: 'Rock Salt', cursive; 
  border-radius: 0px 0px 30px 30px;
  background: $yellow-green-rgba;
  padding: 2%;
  margin: 0 auto;
  width: 66%;
  max-width: 450px;
  i {
    margin: 0px 2px;
    font-size: 20px; 
  } /* i */
  img {
    width: 10%;
    float: left;
    margin: -10px 8px 0px 0px; 
  } /* img */
} /* .connect */


.copyright {
  color: #979797;
  padding-top: 15px;
} /* .copyright */


/* MEDIA QUERIES */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .content {
      padding: 2% 5% 0.5% 5%;
      margin: 0 auto;
      width: 90%;
      h1 {
        font-size: 40px; 
        margin-bottom: 20px;
      } /* h1 */
      h2 {
        font-size: 10px;
      } /* h2 */
      p {
        font-size: 15px;
      } /* p */
      .reaction {
        font-family: 'Bad Script', cursive;
        font-size: 50px; 
      } /* .reaction */
    } /* .content */ 

    .connect {
      padding: 3% 5% 0.5% 5%;
      margin: 0 auto;
      width: 90%;
      font-size: 70%;
      overflow: auto;
      i {
        margin: 0px 1px;
        font-size: 10px; 
      } /* i */
      img {
        margin: -5px 5px 3px 0px; 
      } /* img */
        
      } /* .connect */
          
}/* media */

  
