@import "colors";

.show-nav {
  background: $yellow-green-rgba;
  border-radius: 30px 30px 0px 0px;
  padding: 2% 5% 1% 5%;
  margin: 0 auto;
  width: 66%;
  max-width: 450px;
} /* .show-nav */

.show-preview {
  background: $background-color-rgba;
  border-radius: 0px 0px 30px 30px;
  padding: 1% 5%;
  margin: 0 auto;
  width: 66%;
  max-width: 450px;
  text-align: center;
  color: black; 
} /* .show-preview */

.unpublished {
  margin-top: -5px;
  font-size: 50%;
  text-transform: uppercase;
  color: gray;
} /* .unpublished */

.unpublished-warning {
  color: red;
  text-transform: uppercase;
} /* .unpublished-warning */


article.listing {
  margin: 10px 15px 5px 15px;
  background-color: white;
  border-radius: 8px;
  padding: 5px 20px 3px 20px;
  p {
    margin-top: 20px; 
  } /* p */
} /* article.listing */

article.unpublished-article {
  background-color: #D1D1D1;
  p {
     color: gray; 
   } /* p */
   a {
     color: gray; 
   } /* a */
} /* .unpublished-article */







