<footer>
  <p>
    <% unless current_user %> 
      <%= link_to "Sign In", new_session_path, class: "button" %>
      <%= link_to "Request Access (doesn't work)", root_path %> | 
    <% end %>
     Copyright &copy; <%= Time.now.year %>
  </p>
</footer> <!-- pull-right -->

